body {
	background-color: #EFF1F0;
	font: 12px/1.5em Verdana,Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

table {
	font: 12px/1.5em Verdana,Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

A {color: #0000AA; text-decoration: none}
A:link {color: #0000AA; TEXT-DECORATION: none}
A:visited {color: #0000AA; TEXT-DECORATION: none}
A:hover {color: #0000AA; TEXT-DECORATION: underline}

h1 {
	background-color: #8394b2;
	color: #fff;
	font-size: 24px;
   line-height: 1.5em;
   padding: 2px 24px 2px 24px;
   border: 1px solid #000;
}

h2 {
	background-color: #8394b2;
	color: #fff;
	font-size: 20px;
   line-height: 1.5em;
   padding: 2px 24px 2px 24px;
   border: 1px solid #000;
}

h3 {
	background-color: #8394b2;
   color: #fff;
   font-size: 18px;
   line-height: 1.5em;
   padding: 2px 24px 2px 24px;
   border: 1px solid #000;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover,
h2 a, h2 a:link, h2 a:visited, h2 a:hover,
h3 a, h3 a:link, h3 a:visited, h3 a:hover {
  color: #fff;
}

pre {
	background-color: #ddd;
   padding: 5px 24px;
   border: 1px dotted #000;
}
